
# ignore vscode 08mar24
.vscode/
.classpath
.settings
*.code-workspace
.project
*.deleted
*.org
oh240_*.txt

target/
bin/
.antlr*
.metadata/
*/plugin.xml_gen
node_modules
bower_components
.tmp
.sass-cache
nbproject
coverage




